.header {
  width: 100%;
  height: 8rem;
  background-color: #5f3dc4;

  nav {
    height: inherit;

    ul {
      display: flex;
      column-gap: 2rem;
      align-items: center;
      height: inherit;
      justify-content: center;
    }

    li {
      list-style-type: none;
    }

    a {
      font-size: 2rem;
      font-weight: bold;
      letter-spacing: 1.5px;
      text-decoration: none;
      color: #f2f2f2;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    a:hover {
      color: #e5dbff;
      transform: rotate(0.5turn);
    }
  }
}

.shopping-card-icon {
  width: 2rem;
  height: 2rem;
  justify-self: flex-end;
}
