.shoping-cart-container {
  display: flex;
  align-items: center;
  border: 1px solid #000;
}
.shopping-cart-heading {
  text-align: center;
  margin-bottom: 3rem;
  color: #333;
}

ul {
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

ul li {
  padding: 0;
  margin: 0;
  list-style-type: none;
  border-bottom: 1px solid #000;
  border: 1px solid #00000027;
  border-radius: 5px;
  overflow: hidden;
}
